<!DOCTYPE html>
<html lang="fr">
    <!-- head -->
    <%- include('../layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('../layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/courses-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Projets</h1>
                            <span class="subheading">Inspirez-vous des projets de 2MD</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="container px-4 px-lg-5">
            <!-- texte -->
            <div class="container px-4 px-lg-5">
                <p class="mobile-text">
                    Avez-vous du mal à concrétiser vos idées de projets ? Laissez les projets réussis de 2MD vous inspirer et vous guider ! Avec leur expertise et leur approche innovante, vous pourrez donner vie à vos projets de rêve. N'abandonnez pas votre créativité et votre ambition - utilisez les projets de 2MD comme catalyseur pour réaliser vos objectifs. Faites confiance à 2MD pour vous aider à créer les projets de vos rêves.
                </p>
            </div>
            <!-- Search Bar -->
            <div class="container px-4 px-lg-5">
                <div class="search-container">
                    <form action="/search/projects">
                        <input type="text" name="q" placeholder="Titre article..." required>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <!-- project posts -->
            <div class="container px-4 px-lg-5 mt-5">
                <!-- list of posts -->
                    <% if( (projectsPosts !== null) && (projectsPosts.length > 0) && (typeof projectsPosts !== undefined)) { %>
                        <ul id="items" class="list-group">
                            <!-- post -->
                            <% for(var i = projectsPosts.length - 1; i >= 0; i--) { %>
                                <li class="list-group-item post-bg bgPurple-hover border-white">
                                    <div style="height: 150px; overflow-y: auto;">
                                        <a href="projets/<%= projectsPosts[i]._id %>" class="texte-white black-hover">
                                            <h5><%= projectsPosts[i].title %></h5>
                                        </a>
                                        <p class="texte-white post-meta-texte-size">
                                            Posté par
                                            <a href="/users/<%= projectsPosts[i].userId._id %>" class="texte-white black-hover post-meta-texte-size">
                                                <%= projectsPosts[i].userId.username %>
                                            </a>
                                            <%= projectsPosts[i].postDate.toDateString() %>
                                        </p>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
            </div>
            <!-- pagination -->
            <div id="pagination" class="mb-3">
                <div id="prevButton"></div>
                <div id="pageButtons"></div>
                <div id="nextButton"></div>
            </div>
            <!-- see all the posts -->
            <% if(searching) { %>
                <!-- Click the button show all the courses posts-->
                <div class="d-flex justify-content-end y-4 mb-3 px-4 px-lg-5 mb-3">
                    <a href="/projets" class="btn btn-dark text-uppercase bgPurple-hover">
                        Voir tous
                    </a>
                </div>
            <% } %>
            <!-- the comments on the recent posts if we have at least 5 items-->
            <% if(!searching) { %>
                <% if( (projectsPosts !== null) && (projectsPosts.length > 3 ) && (typeof projectsPosts !== undefined)) { %>
                <div class="container px-4 px-lg-5 mb-3">
                    <h6 style="margin: 20px 0;">Les commentaires sur les articles récents</h6>
                    <ul class="list-group">
                        <!-- comment-->
                        <% for(var j = projectsPosts.length - 1; j > projectsPosts.length - 4; j--) { %>
                            <% if( (projectsPosts[j].comments !== null) && (projectsPosts[j].comments.length > 0) && (typeof projectsPosts[j].comments !== undefined)) { %>
                            <li class="list-group-item comment-bg bgPurple-hover border-white">
                                <a href="projects/<%= projectsPosts[j]._id %>">
                                    <h5 class="texte-white black-hover"><%= projectsPosts[j].title %></h5>
                                </a>
                                <p>
                                    <a href="/users/<%= projectsPosts[j].comments[0].authorId %>" class="text-decoration-none texte-white black-hover "><%= projectsPosts[j].comments[0].author %></a>
                                    <br>
                                    <textarea class="form-control w-100 bg-white" disabled rows="5"><%= projectsPosts[j].comments[0].body %></textarea>
                                </p>  
                                <span class="fs-6 text-white black-hover"><%= projectsPosts[j].comments[0].dateOfComment.toLocaleDateString() %></span>
                            </li>
                            <% } %>
                        <% } %>
                    </ul>                      
                </div>
                <% } %>
            <% } %>
        </main>
        <!-- Footer-->
        <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('../layout/script.ejs') %> 
        <!-- Pagination JS-->
        <%- include('../layout/paginationScript.ejs') %>
    </body>
</html>
