<!DOCTYPE html>
<html lang="fr">
    <!-- head -->
    <%- include('../layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('../layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/courses-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Projets</h1>
                            <span class="subheading">Inspirez-vous des projets de 2MD</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <!-- texte -->
            <p class="container px-4 px-lg-5 mobile-text">
                Avez-vous du mal à concrétiser vos idées de projets ? Laissez les projets réussis de 2MD vous inspirer et vous guider ! Avec leur expertise et leur approche innovante, vous pourrez donner vie à vos projets de rêve. N'abandonnez pas votre créativité et votre ambition - utilisez les projets de 2MD comme catalyseur pour réaliser vos objectifs. Faites confiance à 2MD pour vous aider à créer les projets de vos rêves.
            </p>
            <!-- post content -->
            <div class="container px-4 px-lg-5">
                    <% if( (projectsPosts !== null) && (projectsPosts.length > 0) ) { %>
                        <ul id="items" class="list-group">
                            <% for(var i = projectsPosts.length - 1; i >= 0; i--) { %>
                                <li class="list-group-item">
                                    <!--Post preview-->
                                    <div class="post-preview" style="min-height: 150px;">
                                        <a href="projets/<%= projectsPosts[i]._id %>">
                                            <h5><%= projectsPosts[i].title %></h5>
                                        </a>
                                        <p class="post-meta">
                                            Posté par
                                            <a href="/users/<%= projectsPosts[i].userId._id %>"><%= projectsPosts[i].userId.username %></a>
                                            <%= projectsPosts[i].postDate.toDateString() %>
                                        </p>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
            </div>
            <div id="pagination">
                <div id="prevButton"></div>
                <div id="pageButtons"></div>
                <div id="nextButton"></div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('../layout/script.ejs') %> 
        <!-- Pagination JS-->
        <%- include('../layout/paginationScript.ejs') %>
    </body>
</html>
