<!DOCTYPE html>
<html lang="fr">
    <!-- head -->
        <%- include('../layout/head.ejs') %>
    <!-- body -->
        <body>
        <!-- Navigation-->
            <%- include('../layout/navBar.ejs') %>
        <!-- Header-->
            <header class="masthead" style="background-image: url('<%= post.postImage %>')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h5><%= post.title %></h5>
                                <p>
                                    Posté par
                                    <a href="/users/<%= post.userId._id %>" style="color: white;"><%= post.userId.username %></a>
                                    <%= post.postDate.toDateString() %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <!-- delete and update links -->
                <% if(deletePost) {%>
                <p class="container px-4 px-lg-5 text-end">
                    <a href="/posts/<%= post._id %>/update" class="btn btn-warning text-uppercase text-decoration-none">
                        Modifier
                    </a>
                    <a href="/posts/<%= post._id %>/delete" class="btn btn-danger text-uppercase text-decoration-none">
                        Supprimer
                    </a>
                </p>
                <% }%>
            <!-- Post Content-->
               <article class="container px-4 px-lg-5 text-break mobile-text">
                    <%- post.message %>
                </article>
            <!-- Send a new comment -->
                <div class="container px-4 px-lg-5">
                    <% if(!loggedIn) {%>
                        <p class="text-custom-color text-center" style="color: red">Connectez-vous pour laisser un commentaire</p>
                    <% }%>
                    <h6>Laisser un commentaire</h6>
                    <form action="/posts/<%= post._id %>/comments/new" method="POST">
                        <div class="form-group mb-4">
                            <textarea name="body" class="form-control w-100" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            <!-- Display the Comments -->
                <div class="container px-4 px-lg-5 my-5">
                    <!-- title -->
                    <h6>Commentaires</h6>
                    <!-- list of the comments -->
                    <ul id="items" class="list-group mb-3">
                        <% for(var i = 0; i < post.comments.length; i++) { %>
                            <li class="list-group-item">
                                <p>
                                    <a href="/users/<%= post.comments[i].authorId %>" class="text-decoration-underline"><%= post.comments[i].author %></a>
                                    <br>
                                    <%= post.comments[i].body %>
                                </p>  
                                <span class="text-muted fs-6"><%= post.comments[i].dateOfComment.toLocaleDateString() %></span>
                            </li>
                        <% } %>
                    </ul>
                    <!-- pagination -->
                    <div id="pagination" class="my-3">
                        <div id="prevButton"></div>
                        <div id="pageButtons"></div>
                        <div id="nextButton"></div>
                    </div>
                </div>
        </div>
        <!-- Footer-->
            <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
            <%- include('../layout/script.ejs') %>
        </body>
</html>
