<!DOCTYPE html>
<html lang="fr">
    <!-- head -->
        <%- include('../layout/head.ejs') %>
    <!-- body -->
        <body>
        <!-- Navigation-->
            <%- include('../layout/navBar.ejs') %>
        <!-- Header-->
            <header class="masthead" style="background-image: url('<%= post.postImage %>')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <% if(post !== null && typeof post !== undefined) { %>
                            <div class="site-heading">
                                <h5><%= post.title %></h5>
                                <p>
                                    Posté par
                                    <a href="/users/<%= post.userId._id %>" style="color: white;"><%= post.userId.username %></a>
                                    <%= post.postDate.toDateString() %>
                                </p>
                            </div>
                            <% }%>
                        </div>
                    </div>
                </div>
            </header>
        <!-- Main Content-->
        <main class="container px-4 px-lg-5">
            <!-- delete and update links -->
                <% if(deletePost && deletePost !== undefined || Admin) { %>
                <p class="container px-4 px-lg-5 text-end">
                    <a href="/posts/<%= post._id %>/update" class="text-warning mx-2 text-uppercase text-decoration-none">
                        Modifier
                    </a>
                    <a href="/posts/<%= post._id %>/delete" class="text-danger mx-2 text-uppercase text-decoration-none">
                        Supprimer
                    </a>
                </p>
                <% }%>
            <!-- blog post content-->
            <% if(post !== null && typeof post !== undefined) {%>
               <article class="container px-4 px-lg-5 text-break mobile-text">
                    <%- post.message %>
                </article>
            <% }%>
            <!-- Texte warning to log in for commenting post -->
            <% if(!loggedIn) {%>
                <p class="text-custom-color text-center" style="color: red">Connectez-vous pour laisser un commentaire</p>
            <% }%>
            <!-- Send a new comment -->
                <ul id="items" class="list-group mb-3 container px-4 px-lg-5 mobile-text" style="margin-top: 100px">
                    <li class="list-group-item post-bg">                                      
                        <h6 class="texte-white black-hover">Laisser un commentaire</h6>
                        <form action="/posts/<%= post._id %>/comments/new" method="POST">
                            <div class="form-group mb-4">
                                <textarea name="body" class="form-control w-100" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn bgWhite white-hover bgPurple-hover">Envoyer</button>
                        </form>
                    </li>
                </ul>
                <!-- Display the Comments -->
                <% if(post !== null && typeof post !== undefined) { %>
                    <div class="container px-4 px-lg-5 my-5">
                        <!-- title -->
                        <h6>Commentaires</h6>
                        <br>
                         <!-- display validation errors -->
                        <% if(commentsErrors !== undefined && Object.keys(commentsErrors).length !== 0) { %>
                            <div class="mobile-text bg-danger texte-white p-2">
                                <%= commentsErrors %>
                            </div>
                            <br>
                        <% } %> 
                        <!-- list of the comments -->
                        <% if(post.comments !== null && typeof post.comments !== undefined && post.comments.length > 0) { %>
                            <ul id="items" class="list-group mb-3">
                                <!-- comment -->
                                <% for(var i = 0; i < post.comments.length; i++) { %>
                                    <li class="list-group-item comment-bg bgPurple-hover">
                                        <a href="/users/<%= post.comments[i].authorI %>" class="texte-white black-hover"><%= post.comments[i].author %></a>
                                        <div id="comments">
                                            <form id="update-comment-form" action="/posts/<%= post._id %>/<%= i %>/save" method="post">
                                                <textarea id="commentField<%= i %>" name="body" rows="5" class="w-100 form-control bg-white" disabled><%= post.comments[i].body %></textarea>
                                                <span class="texte-white fs-6 d-block"><%= post.comments[i].dateOfComment.toLocaleDateString() %></span>
                                                <% if(post.comments[i].authorId.equals(userId) || Admin) {%>
                                                    <a id="update-btn" href="#commentField<%= i %>" class="d-inline fs-6 text-warning">Modifier</a>
                                                    <a href="/posts/<%= post._id %>/<%= i %>" id="delete-btn" class="d-inline fs-6 text-danger">Supprimer</a>    
                                                    <button type="submit" id="submit-btn" class="d-none">Enregistrer</button>
                                                <% } %>
                                            </form>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                <% } %>
                <!-- pagination -->
                <div id="pagination" class="my-3">
                    <div id="prevButton"></div>
                    <div id="pageButtons"></div>
                    <div id="nextButton"></div>
                </div>
        </main>
        <!-- Footer-->
            <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
            <%- include('../layout/script.ejs') %>
        <!-- Pagination JS-->
        <%- include('../layout/paginationScript.ejs') %>
        <!-- Update the comments JS-->
        <%- include('../layout/updateCommentScript.ejs') %>
        </body>
</html>
