<!DOCTYPE html>
<html lang="fr">
    <!-- head -->
    <%- include('../layout/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('../layout/navBar.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('<%= user.profileImage %>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Profile</h1>
                            <span class="subheading">
                                <% if(user !== null) { %> 
                                    <%= user.username %>
                                <% } %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div>
                    <!-- Prénom et Nom -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Prénom et Nom</h2>
                        </a>
                        <p class="post-meta">
                            <% if(user !== null) { %> 
                                <%= user.name %>
                            <% } %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Email -->
                    <div class="post-preview">
                        <a href="#"><h2 class="post-title">Email</h2></a>
                        <p class="post-meta">
                            <% if(user !== null) { %> 
                                <%= user.email %>
                            <% } %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Téléphone -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Téléphone</h2>
                        </a>
                        <p class="post-meta">
                            <% if(user !== null) { %> 
                                <%= user.phone %>
                            <% } %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Description -->
                    <div class="post-preview">
                        <a href="#">
                            <h2 class="post-title">Description</h2>
                        </a>
                        <p class="post-meta">
                            <% if(user !== null) { %> 
                                <%- user.message %>
                            <% } %>
                        </p>
                    </div>
                    <% if( (posts !== null) && (posts.length > 0) ) { %> 
                        <!-- Divider-->
                        <hr class="my-4" />
                        <div class="post-preview">
                        <!-- title -->
                            <a href="#">
                                <h2 class="post-title">Publications</h2>
                            </a>
                        <!-- Posts -->
                            <div class="post-meta">
                                <ul id="items" class="list-group" style="height: 500px; overflow:auto;">
                                    <% for(var i = posts.length - 1; i >= 0; i--) { %>
                                        <li class="list-group-item">
                                            <div style="height: 80px; overflow-y: auto;">
                                                <a href="/posts/<%= posts[i]._id %>"><%= posts[i].title %></a>
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        <!-- pagination -->
                            <div id="pagination">
                                <div id="prevButton"></div>
                                <div id="pageButtons"></div>
                                <div id="nextButton"></div>
                            </div> 
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('../layout/footer.ejs') %>
        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <%- include('../layout/script.ejs') %>
        <!-- Pagination JS-->
        <%- include('../layout/paginationScript.ejs') %>
    </body>
</html>
